<div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
  <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;" *ngIf="voted;else showQuestion" class="v-message">
    <div>
      Thank you for your vote!
      <br>
      <br>
    </div>

      <div>
        <i class="fa-solid fa-spinner fa-spin fa-2xl"></i>
      </div>
      <div style="margin-bottom: 20px;">
        <br>
        <p>Waiting for new Questions to arrive.</p>
      </div>
      <!--        <img src="assets/waiting_transparent.png" alt="waiting" width="160px">-->

    <!--    <img src="assets/thx.png" alt="thx-emoji" width="100px">-->
  </div>
  <ng-template #showQuestion>
    <ng-container *ngIf="questions; then selector; else wait"></ng-container>

    <ng-template #selector>
      <div class="content is-large">
      <div  *ngFor="let question of questions; let i = index;">
        <div class=" card shimmer is-flex is-flex-grow-1 v-question box is-hoverable is-cursor-pointer rise is-duration-300 hover-shadow-xl hover-translate-y m-4" style="overflow: hidden" *ngIf="question.length > 0"
             (click)="voteForQuestion(i)"
             [style.border-top-width]='i != 0 ? "3px" : "0"'>
          <span>
            {{question}}
          </span>
        </div>
      </div>
      </div>
    </ng-template>

    <ng-template #wait>
      <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
        <div>
          <i class="fa-solid fa-spinner fa-spin fa-2xl"></i>
        </div>
        <div style="margin-bottom: 20px;">
          <br>
          <p>Waiting for Questions to arrive.</p>
        </div>
        <!--        <img src="assets/waiting_transparent.png" alt="waiting" width="160px">-->
      </div>
    </ng-template>
  </ng-template>
</div>
