.v-questions {
  /*display: flex;*/
  /*flex-direction: column;*/
  /*min-height: 85vh;*/
  /*justify-content: space-evenly;*/
  /*background: #3f51b5 -webkit-gradient(linear, left top, left bottom, from(#0B72D9), to(#3f51b5)) no-repeat;*/
  /*color: whitesmoke;*/
}

.v-question {
  flex: 1;
  min-height: 10vh;
  text-align: center;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  position: relative;

  padding: 1em;
  box-sizing: border-box;
}

.v-question span {
  font-size: 130%;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.shimmer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 40%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 0;
  z-index: 1;
  animation: shimmer 1s ease-out forwards;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
    opacity: 1;
  }
}
